:root{ /* VARIAVEIS CORES */  
    --verde: #10cd3f;
    --preto: #141414;
    --cinza: #aaa;
    --verdel:#ddfde8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, 'Times New Roman';
    background: var(--preto);
    color: #fff;
}

/* HEADER */

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    background-color: rgba(0, 0, 0, 0.9);
    width: 90%;
    position: fixed;
    border-bottom: 2px solid var(--verde);
    border-radius: 5px;
}

header .logo{
    margin-left: 5px;
    font-family: "Arial Black", Times;
    font-size: 40px;
    color: var(--verde);
}

header nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--verdel);
    border-bottom: 5px solid var(--verde);
    border-radius: 5px;
    padding-bottom: 13px;
    transition: .3s ease all;
}

/* MAIN */

.container{
    margin-left: 30px;
}

.filme-p{
    background-image: 
    linear-gradient(rgba(0,0,0,.50),
    rgba(0,0,0,.50)100%),  
    url('/img/capa-house.jpg');

    background-size: cover;
    font-size: 16px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-p .container{
    width: 75%;
}


.titulo{
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 10%;
}

.titulo span{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 38px;
    color: var(--cinza);
}

.filme-p .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao{
    font-size: 12px;
    background-color: rgba(0,0,0,.50);
    text-transform: uppercase;
    color: var(--verdel);
    padding: 15px 30px;
    margin-right: 15px;
    transition: 1s ease all;
}

.botao:hover{
    color: var(--verde);
    border: 2px solid var(--verde);
}

.botao i{
    margin-right: 8px;
}

.box-filme{
    height: 60%;
    width: 100%;
    display: block;
}

.item img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    object-fit: cover;
}

.item img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.2);
    object-fit: cover;
}