@media screen and (max-width: 700px){

    header .container{
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 5px;
        padding: 5px 8px 18px 8px;
        border-bottom: 1px;
    }

    .titulo{
        margin-top: 63%;
    }

    .botao{
        margin-top: 2px;
        width: 180px;
        height: 80px;
    }

    .item img{
        margin-top: 200px;
    }
}
